@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Define custom scrollbar width */
::-webkit-scrollbar {
  width: 2px; /* Adjust to make it thinner or thicker */
}

/* Define custom scrollbar track color */
::-webkit-scrollbar-track {
  background: transparent; /* Change to your preferred background color */
}

/* Define custom scrollbar thumb color */
::-webkit-scrollbar-thumb {
  background: transparent; /* Change to your preferred thumb color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
